*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex: 1;
    display: flex;
    background-image: url("mainbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("mainbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 150px;
    flex: 1;
    margin-top: 120px;
}

.pfp{
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.info{
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    box-shadow: 0 0 10px black;
}


.view>button{
    border:none;
    width:100px;
    height: 30px;
    font-size: 20px;
    border-radius: 30px;
}

.view>button:hover{
    filter: brightness(90%);
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}
